<section id="js-about" class='about'>
    <h1  class="about__header">About</h1>
    <section class="about__content">
        Come join TUDev at Locowl Hack Day, our first hackathon! As a part of MLH's Local Hack Day, we want to gather all of the best collegiate minds together for a day full of building and innovation! Hosted at <a class="about__ImpactHub" href="http://philadelphia.impacthub.net/" target="_blank">Impact Hub in Philadelphia</a>, we are expecting a real hoot of a time!
    </section> <!-- end of about__content -->
    <section class="section__map-container">
        <div id="js-map" class="section__map"></div>
    </section><!-- end of section__header -->
    <section class="section__scroll-button-container about__scroll-button-container">
        <div class="section__scroll-button" onclick="scroll('js-about')"><i class="fa fa-angle-down"></i></div>
    </section><!-- end of section__scroll button container -->
</section><!-- end of about -->
